@media only screen and (max-width:400px) {
    .header,.nav,.admision,.slid-btn{
        display: none;
    }
    *{
        font-size: 14px;
        margin: 0px;
        padding: 0px;
        
    }
    section{
        display: flex;
        flex-wrap: wrap;
        
    }
   .row{
    flex-direction: column;
    flex-wrap: wrap;

   }
   .sec3{
    background-position: -80% 80%;
   }
    .slider-content h5{
        font-size: 10px;
        
    }
   .slider-content h1{
      font-size: 20px;
      line-height: 25px;
   }
   .slider-content p{
    font-size: 12px;
    width: 80%;
   
    text-align:left;
   }
   .btn-1,.btn-2{
    padding: 12px 0px;
    margin: 5px 0px;
   }
   .btn-1 a{
     font-size: 14px;
   }
   .btn-2 a{
    font-size: 14px;
   }
   .sub-sec3{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    align-items: center;
   }
   .slider{
    height: 300px;
   }
   .box{
    width: 100%;
    margin: 10px 0px;

   }

   .program-box{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-left: 15px;
   }
   .sec4-containt{
    width: 100%;
   }
   .text-2{
    margin: 0px;
   }
   .sec4-containt{
    flex-direction: column;
    padding-top: 0px;
    
   }
   .slider-content{
    padding-top: 20px; 
   }
   .text-4{
   text-align: center;
   
   }
   .text-4 h1{
    font-size: 32px;
    text-align: center;
    padding-left: 20px;
   }
   .pg-box1{
    margin-top: 20px;
    
   }
   .full-box{
    flex-direction: column;
    flex-wrap: wrap;
   }
   .obf{
    padding: 10px;
    text-align: center;
    
   }
   .text7{
    padding: 20px;
   }
   .point{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

   }
   span{
    color: rgb(255,115,80)
   }
   .col>ul{
    flex-direction: column;
    
    
   }
   .col ul li .text h3{
    display: none;
   }
   .col ul li div{
    
    
   }
   .logo h1{
    padding: 20px 0px;
    font-size: 32px;
    
   }
}
